# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
__pycache__/

# Compiled C++ files
*.out

# Application specific files
.env
venv
node_modules
.sass-cache
dotfile_scripts
scripts/local

.zshenv
.aider*
.claude/CLAUDE.md
.claude/skills/*
.claude/hooks/*
pi/skills/*
pi/extensions/*

